.yellow{
    background-color: rgb(224, 224, 98);
}
.btn_color{
    background-color: rgb(219, 219, 44);
    border:  solid 2px wheat;
}

.img_h{
    height:400px;
}
.darken-image {
    filter: brightness(40%);
}
.center_text{
    top: 50%;
    transform: translateY(-50%);
}

